apiVersion: apps/v1
kind: Deployment
metadata:
  name: container-health
  namespace: container-health
  labels:
    app: container-health

spec:
  replicas: 1
  selector:
    matchLabels:
      app: container-health
  template:
    metadata:
      labels:
        app: container-health
    spec:
      containers:
        - name: app
          image: ghcr.io/bruno-diaz-dev/container-health:1.0.8
          ports:
            - containerPort: 8000

          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20

          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"